<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="row">
  <div class="col-xs-12 col-md-8">Welcome to this effective template in AngularJS. The data of this templates come from a web service programmed in java.
      this template is only for evalutate proupouse. This example is responsive and use two different charts libreries. Using bootstrap this template to work with
      PC, tablet and mobile devices. 
  </div>
  <div class="col-xs-6 col-md-4"> <img src="img/user.jpeg" class="img-responsive" alt="user image"> </div>
</div>

</div>
